<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=title%> </title>
  </head>
  <body>
    <h1> <%=title%> </h1>
    <form action="/post/postupdate" method="post">
      <input type="hidden" name="id" value="<%=posts._id%>">
    <label for="utitle">Post Title</label>
    <input type="text" name="utitle" id="utitle" value="<%=posts.title%>"><p>
     <textarea name="ucontent" rows="8" cols="80"><%=posts.content%></textarea><p>
    <label for="uauthor">Post Author</label>
    <input type="text" name="uauthor" id="uauthor" value="<%=posts.author%>"><p>
    <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
